<!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://www.wallpapertip.com/wmimgs/4-41142_justin-maller-wallpapers-wolverine.jpg');
      height: 500px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Welcome to {{title}}!</h1>
          <h4 class="mb-3"> These sequences of workouts are for you</h4>
          <a class="btn btn-outline-light btn-lg" href="/user/signup" role="button"
            >Start today!</a
          >
        </div>
      </div>
    </div>
  </div>
<h1>Welcome to {{title}}, these sequences of workouts are for you</h1>
<div class="row justify-content-around">
	<div class="col-4">
		<p>Are you tired of being unable to carry yourself? Are tired of looking at yourself knowing you deserve better? Do you feel that you are a burden when you're with people or in a team? Not just to others but more importantly to yourself. Do you question that it's possible to change or better yourself?</p>
	</div>
	<div class="col-4 justify-content-center">
		<p>The Answer will always be “I can always strive to be better than who I was yesterday. odyBuilding can do that! BodyBuilding is one of the best strategies for your body and also our mind. BodyBuilding is a great component to meet your well being. It gives the understanding of our own body.</p>
	</div>
</div>


<p>Your training should always be designed around your goals, experiences, and more importantly your personal decisions. Designing this program, I have crafted this workout program for you, showing the most efficient way to build quality muscle. The term “simple but effective” is extremely accurate. You want to get in and out and not waste any of your time in the gym. No more program hopping because here, you are able to choose what you want while still getting the results you deserve. It's all up to you. I am able to give you an arsenal of exercises for you to try and customize. </p>