<div class="row justify-content-around pt-5">
    <div class="col-4">
        <div class="card" style="width: 25rem;">
            <img src="https://webassets-prod.ultimateperformance.com/uploads/sites/4/2020/03/09143046/shutterstock_1464709727.jpg" class="card-img-top" alt="..." class="img-reponsive">
            <div class="card-body">
                <h5 class="card-title">Crafty Home Workouts</h5>
                <p class="card-text">These home workouts are meant to help you with time and consistency. It is meant to work around your busy schedule.</p>
                <a href="#" class="btn btn-primary">View</a>
                <a href="#" class="btn btn-success">Buy Now</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 25rem;">
            <img src="https://image.freepik.com/free-photo/mid-section-muscular-man-flexing-muscles_13339-297426.jpg" class="card-img-top" alt="..." class="img-reponsive">
            <div class="card-body">
                <h5 class="card-title">Sculpture</h5>
                <p class="card-text">strictly build muscle, change your frame and make an internal/external difference on your body and well-being.</p>
                <a href="#" class="btn btn-primary">View</a>
                <a href="#" class="btn btn-success">Buy Now</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 25rem;">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/this-is-how-much-exercise-you-need-to-do-to-reap-health-benefits-main-1486061404.jpg?resize=980:*" class="card-img-top" alt="..." class="img-reponsive">
            <div class="card-body">
                <h5 class="card-title">Constant Cardio Muscle Rounds</h5>
                <p class="card-text">C.C.M.R’s is a mixture of exercises emphasizing on 1 muscle group. The Individual will perform these exercises with extreme focus and constant movement with no breaks until the round is over.</p>
                <div class="clearfix">
                    <div class="price pull-left">$50</div>
                    <a href="#" class="btn btn-primary pull-right" role="button">View</a>
                    <a href="#" class="btn btn-success pull-right" role="button">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
