<h1>Sculpture Program</h1>
<h3>Intro</h3>
	
<h5>    
Sculpture is a program created for you to strictly build muscle, change your frame and make an internal/external difference on your body and well-being. You have to understand that you are an artist, you have the responsibility to start working on your project. It will take great courage and discipline to start changing your own body. Sculpture is based on how much you are putting in each set, each rep, each min and each second! 
Each day, you think that you just go to the gym and pick a weight, get your workout in and then leave and go home. NO! What you are really doing is picking up the chisel and working on the project and the project is you. You will be grading yourself constantly, determining what your weak points are, having self-reflection and visualizing the outcome for your future. In the Sculpture program you need to use a variety of different exercises(tools) to work on different things for different areas. 
</h5>
